* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}


body {
  margin: 0;
  background-color: #F5F7FB;
}

.start-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.background{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#background1{
  background-image: url(images/yellow-bg-big.png);
  background-repeat: no-repeat;
  background-position-x: right;

}

#background2{
  background-image: url(images/blue-bg-big.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  color: #293264;
}

.subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  color: #293264;
}

.start-btn {
  /* background: #4D5B9E; */
  border-radius: 15px;
  border: none;
  color: #F5F7FB;
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  margin-top: 50px;
  /* cursor: not-allowed; */

}

.span {
  margin-right: 20px;
  
  padding: 10px;
  border: 2px solid gray;
  cursor: pointer;
  /* background-color: none; */
}

.buttonGroup { 
  /* display:none;  */
  margin-left: 20px;
  position: relative;
  top: 3px;

  appearance: none;
  background-color: #fff;
  /* margin: 0; */
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid #4D5B9E;
  border-radius: 50%;
}

label {
  display:inline-block;
  height: 20px;
  position: relative;
  bottom: 20px;
  font-weight: 600;
  color: #293264;
  
}

label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + div{ /* DIV STYLES */
  cursor:pointer;
  /* border:2px solid transparent; */
  text-align:center;
  padding:10px;
  margin-left: 20px;
  border-radius: 12px;
  border: 2px solid #4D5B9E;
  line-height: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

label > input + div:hover {
  background-color: #D6DBF5;
}

label > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
  background-color: #D6DBF5;
  /* border: 2px solid #4D5B9E; */
  border: 2px solid #D6DBF5;; 
  color: #4D5B9E;
  /* font-weight: 600; */
}



.div-quiz {
  width: 98vw;
  padding-left: 50px;
  padding-right: 100px;
}

hr {
  border: 0.794239px solid #DBDEF0;
  transform: rotate(-0.05deg);
}

.question {
  line-height: 19px;
  color: #293264;
}

.results-btn {
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: #F5F7FB;
  width: 180px;
  height: 50px;
  font-size: 1.4rem;
  margin-top: 20px;
  cursor: pointer;
}

.newGame-btn {
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: #F5F7FB;
  width: 160px;
  height: 40px;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
}

.correct-answers {
  color: #293264
}

.loader {
  /* width: 100vw; */
  position: absolute;
  left: 48.5%;
  top: 35%;
}

.numberQuestions {
  width: 30vw;
  height: 50px;
  font-size: 1.1rem;
  text-align: center;
  border: 2px solid #293264;
  border-radius: 15px;
  margin-bottom: 20px;
  outline: none;
}

.category-options {
  width: 30vw;
  height: 50px;
  font-size: 1.1rem;
  text-align: center;
  border: 2px solid #293264;
  border-radius: 15px;
  outline: none;
  margin-bottom: 20px;
}

@media (max-width: 675px) {

  .subtitle {
    font-size: 1.4rem;
    text-align: center;
  }

  .numberQuestions {
    width: 70vw;
  }
  
  .category-options {
    width: 70vw;
  }

  .div-quiz {
    padding-left: 20px;
    padding-right: 50px;
  }


}